################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AsyncTest/obj/Debug
/AsyncTest/obj/Release
/.vs
/AsyncTest/bin/Debug
